/* Footer Search bar  */
footer {
    background-color: #0c0c0c;
    color: white;
}

.footer_big_section {
    padding: 0 32px;
    padding-top: 48px;
}

.footer_search_bar {
    /* border: 2px solid black; */
}

.search-bar__form {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 24px;
}

.search-bar__input {
    border: 1px solid #b1b1b1;
    border-radius: 4px;
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
    font-size: 16px;
    height: 38px;
    outline: none;
    width: 100%;
    padding: 0 0px 0 8px;
    box-shadow: none;
    color: #404040;
}

.search-bar__submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border: none;
    box-shadow: none;
    background: 0 0;
    display: flex;
    align-items: center;
    height: 32px;
    letter-spacing: 0;
    color: #404040;
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
    font-weight: 700;
}

.search-bar__arrow svg {
    width: 12px;
    height: 12px;
}

.search-bar__button-text {
    /* display: none; */
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0;
    margin-right: 16px;
}

.search-bar__arrow {
    /* display: none; */
    right: 8px;
    top: 1px;
}

.search-bar__search-icon {
    display: none;
}

.footer_grid {
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 20px;
    column-gap: 16px;
}

.footer_box {
    /* border: 1px solid red; */
}

.footer_box h3 {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
}

.footer_big_ul {
    list-style: none;
}

.footer_big_ul li {
    text-decoration: none;
    transition: color .4s ease;
    font-size: 14px;
    line-height: 18px;
    color: #e6e6e6;
    margin-top: 4px;
}

/* Footer Navbar Section  */
.footer_navbar_section{
    padding: 0 32px;
}
.footer_navbar {
    border-top: 1px solid #404040;
    margin-top: 24px;
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.footer_ul-1 {
    display: flex;
    list-style: none;
    align-items: center;
}

.footer_ul-1>li {
    padding: 9px;
}

.footer_ul-1 li a {
    color: #e6e6e6;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    line-height: 20px;
}

.footer_ul-2 {
    display: flex;
    list-style: none;
    align-items: center;
}

.footer_ul-2>li {
    padding: 9px;
}

.footer_ul-2 li a {
    color: #e6e6e6;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    line-height: 20px;
}

.footer-under-ul {
    display: flex;
    list-style: none;
}

.footer-under-ul li svg {
    fill: #e6e6e6;
    transition: fill .4s ease;
    height: 24px;
    width: 24px;
}

.footer_under-div {
    display: flex;
    align-items: center;
    padding: 0 0px 0 21px;
    border-left: 1px solid #404040;
    margin-left: 15px;
    gap: 10px;
}
.footer-under-div::before{
    content: "djjj";
}
.footer_under-div li{
    padding: 0 12px;
}

.footer-under-ul > li {
    padding: 0px 12px;
}

.social-links__copy {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 0;
}

@media screen and (max-width: 1278px) {

    .footer_grid {
        grid-template-columns: repeat(5, 1fr);
    }
    .footer_ul-2 li:nth-child(1){
        display: none;
    }
    .footer_ul-2 li:nth-child(2){
        display: none;
    }
    .footer_under-div{
        border: none;
    }
}

@media screen and (max-width: 960px) {
    .footer_grid {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        row-gap: 10px;
    }

    .footer_big_ul {
        display: none;
    }

    .search-bar__search-icon {
        /* display: none; */
    }

    .search-bar__button-text {
        display: none;
    }

    .search-bar__arrow {
        display: none;
    }
}