/* Main  */
main {
    padding: 30px 32px 0px 32px;
}

/* nav links  */

.news_links {
    /* border: 1px solid black; */
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    padding: 0 6px;
}

.news_links p {
    border-right: 2px solid #b1b1b1;
    font-size: 16px;
    line-height: 13px;
    letter-spacing: 0;
    padding: 0 8px;
    margin: 0px;
}

.news_links p:last-child {
    border: none;
}
/* Forst Sectopm  */
/* Front news  */
.top_news_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    max-width: 100%;
}

.top_news_container ul {
    padding-left: 20px;
    padding-top: 15px;
}

.top_news_container ul li {
    color: #0c0c0c;
    font-family: cnn_sans_display,helveticaneue,Helvetica,Arial,Utkal,sans-serif ;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 28px;
}

.top_news-1 h1 {
    font-size: 46px;
    line-height: 52px;
    font-weight: 700;
    text-align: center;
}

.top_news-1 video {
    width: 100%;
}

.top_news-2 img {
    width: 100%;
}

.top_news-3 img {
    width: 100%;
}
.top_news-3 div:last-child p:last-child{
    border: none;
}

.top_news-3 p{
    border-bottom: 1px solid rgb(230, 230, 230);
    margin-bottom: 21px;
    padding-bottom: 21px;

    color: #0c0c0c;
    font-family: cnn_sans_display,helveticaneue,Helvetica,Arial,Utkal,sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 22px;
}

.top-news_card-heading {

    font-size: 20px;
    line-height: 26px;
    font-weight: 700 !important;
    letter-spacing: 0;
}
#last-child{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 12px;
    padding-bottom: 12px;
}
.live-red{
    color: #c00;
}

/* ----------------------------------------- */
/* Second Section  */

.top_stories_container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 20px;
}
.top-story-1{
    border-top: 1px solid rgb(230, 230, 230);
}
.top-story-1 div:last-child p{
    border-bottom: 1px solid rgb(230, 230, 230);
    margin-bottom: 12px;
    padding-bottom: 12px;

    color: #0c0c0c; font-family: cnn_sans_display,helveticaneue,Helvetica,Arial,Utkal,sans-serif; font-size: 16px; font-weight: 400; letter-spacing: .5px; line-height: 28px;
}
.top-story-1 div:last-child p:last-child{
    border: none;
}
.top-story-1 img{
    width: 100%;
}
.top-story-1 h2{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 12px;
    padding-bottom: 12px;
}
.top-story-2{
    border-top: 1px solid rgb(230, 230, 230);
}
.top-story-2 img{
    width: 100%;
}
.top-story-2 p{
    color: #0c0c0c;
    font-family: cnn_sans_display,helveticaneue,Helvetica,Arial,Utkal,sans-serif ;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 22px;
}
.top-story-2 h2{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 12px;
    padding-bottom: 12px;
}
.a_short{
    display: block;
    visibility: visible;
    padding: 4px 0 8px;

    font-size: 10px;
    font-weight: 400;
    line-height: 0;
    text-align: right;
    color: #6e6e6e;
}
.top-story-2 div:last-child{
    border: none;
}
.top-story-3 img{
    width: 100%;
}
.top-story-3 div:last-child{
    border: none;
}
.top-story-3 p{
    color: #0c0c0c;
    font-family: cnn_sans_display,helveticaneue,Helvetica,Arial,Utkal,sans-serif ;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 22px;
}

.landscap-card1{
    box-sizing: border-box  ;
    display: grid;
    grid-template-columns: 135px auto;
    column-gap: 12px;

    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 12px;
    padding-bottom: 12px;
}
.landscap-card1 div:first-child img{
    width: 100%;
    height: 100%;
}


.landscap-card2{
    box-sizing: border-box  ;
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: 10px;

    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.landscap-card2 div:first-child img{
    width: 100%;
    height: auto;
}

.container__title-text, .container__title_url-text {
    display: inline-block;
    font-family: cnn_sans_display,helveticaneue,Helvetica,Arial,Utkal,sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 16px;
    margin-top: 10px;
}

.icon-sig-video, .container__text .icon-sig-video {
    float: left;
    height: 20px;
    margin-right: 4px;
    margin-top: 2px;
    padding-bottom: 3px;
    fill: #a4001e;
}
.container__title {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin-bottom: var(--theme-container-title__margin-bottom);
}
.container__title:before{
    /* content: ""; */
    background-color: #cc0000;
    height: 4px;
    transition: width .3s;
    transition-timing-function: ease-in-out;
    width: 16px;
}
.container__title:after, .container__title:before {
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}

/* Third section  */
.third-section{
    margin-top: 20px;
}
.actor_stories_container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 20px;
}
.actor_story2 img{
    width: 100%;
}
.actor_story1 video{
    width: 100%;
}
.actor_story1 p{
    color: #0c0c0c;
    font-family: cnn_sans_display,helveticaneue,Helvetica,Arial,Utkal,sans-serif ;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 22px;
}
.actor_story1 h2{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 12px;
    padding-bottom: 12px;
}
.actor_story2 h2{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 12px;
    padding-bottom: 12px;
}
.actor_story2 p{
    color: #0c0c0c;
    font-family: cnn_sans_display,helveticaneue,Helvetica,Arial,Utkal,sans-serif ;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 22px;
}
.actor_story3 p{
    color: #0c0c0c;
    font-family: cnn_sans_display,helveticaneue,Helvetica,Arial,Utkal,sans-serif ;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 22px;
}
.actor_story3 h2{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 12px;
    padding-bottom: 12px;
}
.actor_story3 img{
    width: 100%;
}
.landscap-card1_other{
    grid-template-columns: 135px auto;
}
.landscap-card1_other div:first-child img{
    height: auto;
}

@media screen and (max-width: 1166px) {
    .actor_stories_container{
        grid-template-columns: 1fr 1.5fr 1fr;
    }
}
@media screen and (max-width: 1058px) {
    .actor_stories_container{
        grid-template-columns: 1fr 1.2fr 1fr;
    }
}

@media screen and (max-width: 960px) {
    main {
        padding: 30px 22px 0px 22px;
    }
    .top_news-1 h1 {
        font-size: 32px;
    }
    .top_news_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .top_stories_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .actor_stories_container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 550px) {
    main {
        padding: 30px 12px 0px 12px;
    }
    
}
