/* Main  */
main {
    padding: 30px 32px 0px 32px;
}

/* nav links  */

.news_links {
    /* border: 1px solid black; */
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    padding: 0 6px;
}
.news_liks__a{
    color: unset;
    text-decoration: none;
}
.news_liks__a:hover{
    text-decoration:underline;
}

.news_links p {
    border-right: 2px solid #b1b1b1;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    padding: 0 8px;
    margin: 0px;
}

.news_links p:last-child {
    border: none;
}

/* Forst Sectopm  */
/* Front news  */
.top_news_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    max-width: 100%;
}

.top_news_container ul {
    padding-left: 20px;
    padding-top: 15px;
}

.top_news_container ul li {
    color: #0c0c0c;
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 28px;
}

.top_news-1 h1 {
    font-size: 46px;
    line-height: 52px;
    font-weight: 700;
    text-align: center;
}

.top_news-1 video {
    width: 100%;
}
.top_news-1 video:hover {
    opacity: 0.7;
    cursor: pointer;
}

.top_news-2 img {
    width: 100%;
}
.top_news-2 img:hover{
    opacity: 0.7;
    cursor: pointer;
}

.top_news-3 img {
    width: 100%;
}
.top_news-3 img:hover{
    opacity: 0.7;
    cursor: pointer;
}

.top_news-3 div:last-child p:last-child {
    border: none;
}

.top_news-3 p {
    border-bottom: 1px solid rgb(230, 230, 230);
    margin-bottom: 21px;
    padding-bottom: 21px;

    color: #0c0c0c;
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 22px;
}

.top-news_card-heading {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700 !important;
    letter-spacing: 0;
}

#last-child {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.live-red {
    color: #c00;
}

/* ----------------------------------------- */
/* Second Section  */

.top_stories_container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 20px;
}

.top-story-1 {
    border-top: 1px solid rgb(230, 230, 230);
}

.top-story-1 div:last-child p {
    border-bottom: 1px solid rgb(230, 230, 230);
    margin-bottom: 12px;
    padding-bottom: 12px;

    color: #0c0c0c;
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 28px;
}

.top-story-1 div:last-child p:last-child {
    border: none;
}

.top-story-1 img {
    width: 100%;
}
.top-story-1 img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.top-story-1 h2 {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.top-story-2 {
    border-top: 1px solid rgb(230, 230, 230);
}

.top-story-2 img {
    width: 100%;
}
.top-story-2 img:hover {
    opacity: 0.7;
    cursor: pointer;
}



.top-story-2 p {
    color: #0c0c0c;
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 22px;
}

.top-story-2 h2 {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.a_short {
    display: block;
    visibility: visible;
    padding: 4px 0 8px;

    font-size: 10px;
    font-weight: 400;
    line-height: 0;
    text-align: right;
    color: #6e6e6e;
}

.top-story-2 div:last-child {
    border: none;
}

.top-story-3 img {
    width: 100%;
}
.top-story-3 img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.top-story-3 div:last-child {
    border: none;
}

.top-story-3 p {
    color: #0c0c0c;
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 22px;
}

.landscap-card1 {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 135px auto;
    column-gap: 12px;

    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.landscap-card1 div:first-child img {
    width: 100%;
    height: 100%;
}


.landscap-card2 {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: 10px;

    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.landscap-card2 div:first-child img {
    width: 100%;
    height: auto;
}

.container__title-text,
.container__title_url-text {
    display: inline-block;
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 16px;
    margin-top: 10px;
}

.icon-sig-video,
.container__text .icon-sig-video {
    float: left;
    height: 20px;
    margin-right: 4px;
    margin-top: 2px;
    padding-bottom: 3px;
    fill: #a4001e;
}

.container__title {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin-bottom: var(--theme-container-title__margin-bottom);
}

.container__title:before {
    /* content: ""; */
    background-color: #cc0000;
    height: 4px;
    transition: width .3s;
    transition-timing-function: ease-in-out;
    width: 16px;
}

.container__title:before:hover {
    width: 100%;
}

.container__title:after,
.container__title:before {
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}

/* Third section  */
.third-section {
    margin-top: 20px;
}

.actor_stories_container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 20px;
}

.actor_story2 img {
    width: 100%;
}
.actor_story2 img:hover {
    cursor: pointer;
    opacity: 0.7;
}

.actor_story1 video {
    width: 100%;
}
.actor_story1 video:hover {
    cursor: pointer;
    opacity: 0.7;
}
.actor_story1 img:hover {
    cursor: pointer;
    opacity: 0.7;
}

.actor_story1 p {
    color: #0c0c0c;
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 22px;
}

.actor_story1 h2 {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.actor_story2 h2 {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.actor_story2 p {
    color: #0c0c0c;
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 22px;
}

.actor_story3 p {
    color: #0c0c0c;
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 22px;
}

.actor_story3 h2 {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.actor_story3 img {
    width: 100%;
}
.actor_story3 img:hover {
    cursor: pointer;
    opacity: 0.7;
}

.landscap-card1_other {
    grid-template-columns: 135px auto;
}

.landscap-card1_other div:first-child img {
    height: auto;
}

/* ------------------------- */
/* Featured Sections  */
.forth-section {
    margin-top: 20px;
}

.border-none {
    border: none;
}

.Featured_Sections_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.4rem;
}

.arow-container {
    display: flex;
    align-items: center;
}

#arow {
    display: none;
    margin-left: -316px;
    margin-bottom: 6px;
}

.hover-arow {
    cursor: pointer;
}

.hover-arow:hover~#arow {
    display: block;
}

.zone__title {
    color: #0c0c0c;
    line-height: 30px;
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
    margin-bottom: 24px;
    border: none;
    font-size: 30px;
    font-weight: 700;
}

.boxs img {
    width: 100%;
}

.boxs img:hover {
    opacity: 0.7;
}

.boxs {
    border-top: 1px solid #e6e6e6;
}

.featured_descriptions p {
    color: #0c0c0c;
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 22px;
}

.featured_descriptions p,
h2 {
    border-bottom: 1px solid #e6e6e6;
    margin: 0 0 12px;
    padding: 0 0 12px;
}

.featured_descriptions p:last-child {
    border: none;
}

/* -------------------------------- */
/* Photo you should see  */
.sixth-section {
    margin-top: 24px;
    margin-bottom: 45px;
}

.photo__see_grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
}

.photo__see1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 32px;

}

.photo__relative {
    position: relative;
    /* z-index: -2;  */
}

.card__label {

    font-size: 10px;
    padding: 4px 8px;
    line-height: 16px;

    background: rgba(12, 12, 12, .5);
    color: #fff;

    font-size: 10px;
    font-weight: 700;
    position: absolute;
    bottom: -3px;
    left: 0;
    margin: 0 0 8px;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 4px 8px;
    display: flex;
    align-items: center;
}

.card__label-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23f8f8f8' d='M12.017 15.672a2.67 2.67 0 01-2.667-2.668 2.67 2.67 0 012.667-2.668 2.67 2.67 0 012.666 2.668 2.67 2.67 0 01-2.666 2.668m0-6.67c-2.206 0-4 1.795-4 4.002a4.006 4.006 0 004 4.002c2.205 0 4-1.795 4-4.002a4.005 4.005 0 00-4-4.002m8.681 8.867c0 .26-.211.471-.472.471H3.774a.472.472 0 01-.472-.471V9.106c0-.26.211-.47.472-.47h4.348l1.211-1.97h5.334l1.24 1.97h4.32c.26 0 .471.21.471.47v8.763zm0-10.534h-3.96l-.915-1.663c-.195-.381-.49-.672-1.156-.672H9.383c-.477 0-.956.23-1.193.672l-.927 1.663H3.327C2.577 7.32 2 7.937 2 8.654v9.686c.001.78.667 1.326 1.303 1.326h17.364c.68.025 1.332-.564 1.333-1.326V8.847c0-.826-.583-1.512-1.303-1.512z'/%3E%3C/svg%3E%0A");

    float: left;
    fill: #f8f8f8;
    margin-right: 4px;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
}

.photo__see1 img {
    width: 100%;
}
.photo__see1 img:hover {
    cursor: pointer;
    opacity: 0.7;
}


.photo__see>span {
    font-size: 16px;
    line-height: 20px;
}

.zone__title {
    color: #0c0c0c;
    line-height: 30px;
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
    margin-bottom: 24px;
}

.border-none {
    border: none;
}

/* Watch it  */
.fifth-section {
    margin-top: 50px;
}

.watch__grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 64px;
    grid-column-gap: 24px;
}

.watch_box {
    position: relative;
}

.watch_box img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.watch_box::after {
    -webkit-font-smoothing: antialiased;
    content: "ï…‡";
    font-family: cnn-icons;
    color: #FFF;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    background-color: rgba(12, 12, 12, .5);
    padding: 8px 58px 8px 16px;
    position: absolute;
    bottom: 3px;
    left: 0;
    z-index: 9;
}

.watch_box::before {
    -webkit-font-smoothing: antialiased;
    content: 'VIDEO';
    position: absolute;
    bottom: 12px;
    left: 36px;
    color: #fff;
    z-index: 10;
    font-weight: bold;
    font-size: 12px;
}

.watch-description {
    /* font-weight: 300; */
    line-height: 26px;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;

    /* font-family: CNN,Helvetica Neue,Helvetica,Arial,Utkal,sans-serif; */
    color: #0c0c0c;
    margin: 0px 0px 0px 0px;
    text-align: left;
    line-height: 1.25;
    font-size: 20px;
    font-weight: bold;
}

.watch__heading {
    color: #0c0c0c;
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
    margin-top: 0;
    margin-bottom: 24px;

    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
}

/* You Missed it  */
.femous__person {
    padding: 0 32px;
    margin-top: 50px;
    padding-top: 40px;
    background-color: #0c0c0c;
    border-bottom: 1px solid #404040;

}

.Missed__It_container {
    background-color: #0c0c0c;
    color: #fff;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 25px;
    padding-bottom: 45px;
}
.hover_me{
    cursor: pointer;
}
.hover_me:hover img {
    opacity: 0.7;
    cursor: pointer;
}
.gandhi__g {
    position: relative;
    cursor: pointer;
}

.card__label-gandhi {
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    bottom: -4px;
    left: 0;
    margin: 0 0 8px;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    background: #fff;
    color: #c00;
    font-size: 12px;
    line-height: 18px;
    padding: 8px 16px;
}

.missed_it1 img {
    width: 100%;
    cursor: pointer;
}

.missed_it1 img:hover {
    opacity: 0.4;
}

.container__headline-text {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700 !important;
    letter-spacing: 0;
}
.container__headline-text:hover{
    cursor: pointer;
    text-decoration: underline;
}

.missed_it2 p {
    border: none;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #404040;

    /* color: #0c0c0c; */
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 22px;
    
}
.missed_it2 p:hover{
    text-decoration:underline;
    cursor: pointer;

}

.missed_it_heading {
    margin: 0 0 24px;
    color: #fff;
    line-height: 30px;
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: none;
}

.missed_it2 p:last-child {
    border: none;
}
/* Paid Section  */
.seven_section{
    position: relative;
    height: 413px;
}
.paid__grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 24px;
}
.Paid{
    height: 314px;
    cursor: pointer;
}
.Paid img{
    width: 100%;
}
.Paid span{
    font-family: inherit;
    color: #6e6e6e;
    margin: 4px 0px 0px 0px;
    text-align: left;
    font-size: 16px;
    line-height: 1.25;
    font-style: italic;
}
.paid_heading-top{
    color: #0c0c0c;
    font-family: var(--theme-zone-title__font-family);
    margin-top: 0;
    margin-bottom: 24px;
    line-height: 30px;
    font-size: 32px;
}
.paid_heading{
    /* font-family: CNN, Helvetica Neue, Helvetica, Arial, Utkal, sans-serif; */
    color: #0c0c0c;
    margin: 0px 0px 0px 0px;
    text-align: left;
    line-height: 1.25;
    font-size: 20px;
}
.paid_heading:hover{
    /* font-family: CNN, Helvetica Neue, Helvetica, Arial, Utkal, sans-serif; */
    color: #cc0000;
}
.ob_what_resp{
    padding: 5px 0;
    /* float: right; */
    direction: ltr;
    position: absolute;
    right: 0px;
    bottom: 0px;
    
    background: #fefefe;
    margin-top: .4%;
    cursor: pointer;
}
.ob_what_resp a{
    direction: ltr;
    background: #fefefe;
    margin-top: .4%;
    font-size: 11px;
    font-family: arial;
    color: #757575;

}
.ob_logo{
    background: url("https://widgets.outbrain.com/images/widgetIcons/ob_logo_67x12.png") no-repeat center top;
    width: 67px;
    height: 12px;
    display: inline-block;
    padding: 0px 5px;

}

.ob_what a::after{
    content: "";
    background-image: url(https://widgets.outbrain.com/images/widgetIcons/achoice.svg);
    background-size: 100% 100%;
    width: 12px;
    height: 12px;
    padding-left: 4px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: right center;
    border-left: 1px solid #999;
}
@media screen and (max-width: 1166px) {
    .actor_stories_container {
        grid-template-columns: 1fr 1.5fr 1fr;
    }
}

@media screen and (max-width: 1058px) {
    .actor_stories_container {
        grid-template-columns: 1fr 1.2fr 1fr;
    }
}

@media screen and (max-width: 960px) {
    main {
        padding: 30px 22px 0px 22px;
    }
    .paid__grid{
        display: none;
    }

    .top_news-1 h1 {
        font-size: 32px;
    }

    .top_news_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .top_stories_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .actor_stories_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .Featured_Sections_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .photo__see_grid {
        grid-template-columns: 1fr;
    }

    .femous__person {
        padding: 0 16px;
        padding-top: 40px;
    }

    .Missed__It_container {
        grid-template-columns: 1fr;
    }
    .seven_section{
        position: relative;
        height: auto;
    }
    .ob_what_resp{
        display: none;
    }
}



@media screen and (max-width: 550px) {
    main {
        padding: 30px 12px 0px 12px;
    }
}

@media screen and (max-width: 478px) {
    .photo__see1 {
        grid-template-columns: repeat(1, 1fr);

    }

    .watch__grid_container {
        grid-template-columns: repeat(1, 1fr);
    }
}