/* You Missed it  */
.femous__person{
    padding: 0 32px;
    padding-top: 40px;
    background-color: #0c0c0c;
    border-bottom: 1px solid #404040;
    
}
.Missed__It_container{
    background-color: #0c0c0c;
    color: #fff;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 25px;
}
.missed_it1 img{
    width: 100%;
}
.missed_it1 img:hover{
    opacity: 0.4;
}
.container__headline-text{
    font-size: 20px;
    line-height: 26px;
    font-weight: 700!important;
    letter-spacing: 0;
}
.missed_it2 p{
    border: none;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #404040;

    /* color: #0c0c0c; */
    font-family: cnn_sans_display,helveticaneue,Helvetica,Arial,Utkal,sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 22px;
}
.missed_it_heading{
    margin: 0 0 24px;
    color: #fff;
    line-height:  30px;
    font-family: cnn_sans_display,helveticaneue,Helvetica,Arial,Utkal,sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: none;
}
.missed_it2 p:last-child{
    border: none;
}

@media screen and (max-width: 960px) {
    .Missed__It_container{
        grid-template-columns: 1fr;
    }
    
}