* {
    margin: 0%;
    padding: 0%;
}

body {
    box-sizing: border-box;
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
}

/* Header  */
header {
    /* border: 1px solid red; */
    position: sticky;
    top: 0;
    z-index: 100;
}

/* .banner-sticky {
    background-color: #0c0c0c;
    height: 273px;
} */



/* Navbar  */

.cnn-navbar {
    background-color: #0c0c0c;
    border-bottom: 1px solid #404040;
    display: flex;
    justify-content: space-between;
    height: 39px;
    padding: 0 21px 0px 32px;
    z-index: 34;
}

.sticky {}

/* ------------- */
.nav-ul-1 {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-ul-1 li {
    padding: 9px;
}

.nav-ul-1 li>a {
    text-decoration: none;
    color: #e6e6e6;
    font-size: 15px;
    display: block;
    white-space: nowrap;
    font-weight: 500;
}

.nav-ul-1 li:nth-child(3) {
    margin-left: 15px;

}

.header__menu-icon-svg {
    height: 24px;
    width: 24px;
    fill: #e6e6e6;
    transition: fill .4s ease;
    margin-right: 24px;
}

.cnn_log {
    /* height: 38px; */
    height: 100%;
    width: 38px;

}

.cnn_log img {
    width: 102%;
    height: 102%;
}

/* ------------- */
.nav-ul-btns {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-ul-btns li {
    padding: 10px;
    line-height: 20px;
}

.nav-ul-btns li span {
    color: white;
}

.nav-ul-btns li a {
    text-decoration: none;
    color: white;
}


#login-btn {
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 7px 8px;
    font-size: 14px;
    line-height: 20px;
    height: 32px;
    font-weight: bold;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    background-color: black;
    position: absolute;
    top: 36px;
    height: 50px;
    width: 57px;
    display: none;
}

.dropdown-content a {
    text-decoration: none;
    color: white;
    display: inline-block;
    background-origin: padding-box;
    border-top: 1px solid #404040;
    padding: 3px 9px;
}

.dropdown a:hover~.dropdown-content {
    color: red;
    display: block;
}
#log__for_small{
    display: none;
}


@media screen and (max-width: 1210px) {
    .nav-ul-1 li:nth-child(11) {
        display: none;
    }
}

@media screen and (max-width: 1144px) {
    .nav-ul-1 li:nth-child(10) {
        display: none;
    }
}

@media screen and (max-width: 1104px) {
    .nav-ul-1 li:nth-child(9) {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .cnn-navbar {
        padding: 0 16px;
    }

    .nav-ul-1 li:nth-child(3) {
        display: none;
    }

    .nav-ul-1 li:nth-child(4) {
        display: none;
    }

    .nav-ul-1 li:nth-child(5) {
        display: none;
    }

    .nav-ul-1 li:nth-child(6) {
        display: none;
    }

    .nav-ul-1 li:nth-child(7) {
        display: none;
    }

    .nav-ul-1 li:nth-child(8) {
        display: none;
    }

    .nav-ul-1 li:nth-child(12) {
        display: none;
    }

    .nav-ul-btns li:nth-child(3) {
        display: none;
    }
    #log__for_small{
        display: block;
    }
}

@media screen and (max-width: 488px) {
    .nav-ul-btns li:nth-child(1) {
        display: none;
    }

    .nav-ul-btns li:nth-child(3) {
        display: none;
    }

    .nav-ul-btns li:nth-child(4) {
        display: none;
    }

}